/*********************************** Style guide ***************************/
:root {
    /**************************** Colors ******************/
    --whiteColor: #FFFFFF;
    --blueProduct: #2AB3B1;
    --blueContent: #4BBFBC;
    --yellowButton: #C0DF33;
    --greyFirst: #9AA7BE;
    --greySecond: hsl(204, 43%, 93%);


    /*************************** Typography ****************/
    --mainFont: "Karla", sans-serif;
}

/******************************** Global ****************************************/
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: var(--mainFont);
    background-color: var(--greySecond);
}
/*html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}*/
a {
    text-decoration: none;
}
img {
    width: 100%;
}
h1 {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.8rem;
    letter-spacing: -0.3px;
}
h2 {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.1rem;
    letter-spacing: -0.3px;
}
h3 {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.74rem;
    letter-spacing: -0.4px;
}
h4,
span {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    letter-spacing: -0.17px;
}
p {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    letter-spacing: -0.17px;
}

/***************************** utilities *************************************/
.card {
    margin: 5rem 3rem;
    box-shadow: -1px 14px 31px 2px rgba(0,81,171,0.75);
    -webkit-box-shadow: -1px 14px 31px 2px rgba(0,81,171,0.75);
    -moz-box-shadow: -1px 14px 31px 2px rgba(0,81,171,0.75);
    border-radius: 1rem;
}
/****************************** grid ***************************************/
.grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

/****************************** Information *************************/
.info {
    padding: 3rem 3rem 2rem 3rem;
    background-color: var(--whiteColor);
}
.info__title {
    color: var(--blueProduct);
}
.info__subTitle {
    color: var(--yellowButton);
}
.info__description {
    color: var(--greyFirst);
}

/****************************** Price *****************************/
.price {
    background-color: var(--blueProduct);
    padding: 3rem 3rem 1rem 3rem;
}
.price__title {
    color: var(--whiteColor);
}
.price__price {
    color: var(--whiteColor);
}
.price__price-span {
    color: var(--greyFirst);
}
.price__info {
    color: var(--greySecond);
}
.price__button {
    width: 100%;
    height: 4.8rem;
    margin-bottom: 0;
    background-color: var(--yellowButton);
    color: var(--whiteColor);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.87rem;
    letter-spacing: -0.2px;
    border: solid 1px var(--yellowButton);
    border-radius: 1rem;
}

/************************************** Description *************************************/
.descriptio {
    background-color: var(--blueContent);
    padding: 4rem 12rem 1rem 3rem;
}
.descriptio__title {
    color: var(--whiteColor);
}
.description__info {
    margin-top: 5rem;
    color: var(--greySecond);
}